:root {
    --black: #000;
    --white: #fff;
    --lightBgGray: rgba(6, 29, 30, 0.05);
    --OrangeTheme: #FFAE00;
}

.BGLightblack {
    background-color: var(--lightBgGray)
}

.backgroundWhite {
    background-color: var(--white);
}

.orangeColor {
    color: var(--OrangeTheme);
}

.OrangeBg {
    background-color: var(--OrangeTheme);
}

.service-card {
    background-color: rgba(6, 29, 30, 0.05);
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
}

.service-card:hover {
    /* background-color: rgba(6, 29, 30, 0.1); */
    transform: translateY(-5px);
    border: 1px solid var(--OrangeTheme);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.lets_work {
    background-color: rgba(6, 29, 30, 0.05);
}

.Social_icon {
    background-color: #d9d9d9;
    color: #000;
}

.Social_icon:hover {
    background-color: var(--OrangeTheme);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    color: var(--white);
    border-color: #fff;
}
.DownloadButon {
    background-color: var(--OrangeTheme);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--OrangeTheme);
}

.DownloadButon:hover {
    background-color: var(--lightBgGray);
    color: var(--OrangeTheme);
    border: 1px solid var(--black);
}